div.Attels {
  position: absolute;
  left: 50px;
  top: 80px;
  width: 1479px;
  height: 776px;
}

  div.A {
      padding-right: 100px;
      text-align: right;
  }

  div.B {
   padding-left: 5px;
  }

 div.C {
color: white;
font-family: Cambria;
font-weight: bold;
font-size: 30px;
position: absolute;
left: 310px;
top: 200px;
 }